<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->

  <h3>Titre: {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}
  <div>
    <div [ngSwitch]="ticket.major">
      <div *ngSwitchCase="'si'">
        <i class="fab fa-angellist"></i>
        Major: {{ticket.major}}
      </div>
      <div *ngSwitchCase="'ge'">
        <i class="fab fa-angular"></i>
        Major: {{ticket.major}}
      </div>
      <div *ngSwitchCase="'gb'">
        <i class="fas fa-cog fa-spin"></i>
        Major: {{ticket.major}}
      </div>
      <div *ngSwitchDefault>
        Warning! major value is empty or invalid.
      </div>
    </div>
    <div>
      Archived: {{ticket.archived}}
    </div>
  </div>
  <button (click)="deleteTicket()">Archive</button>
  </div>
