    <!-- <div class="ticket-list">
  <div class="ticket" *ngFor="let ticket of ticketList">

    <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)"  
    (ticketHasBeenDeleted)="deleteTicket(ticket)"></app-ticket>
  </div>
</div> -->

<button (click)="toggleDisplayTicketArchived()">
  {{ displayTicketArchived ? 'Hide Archived Tickets' : 'Show Archived Tickets' }}
</button>

<div class="ticket" *ngFor="let ticket of ticketList">
  <ng-container *ngIf="!ticket.archived && !displayTicketArchived">
    <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)" 
      (ticketHasBeenArchived)="archiveTicket(ticket)"></app-ticket>
  </ng-container>
  <ng-container *ngIf="ticket.archived && displayTicketArchived">
    <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)" 
      (ticketHasBeenArchived)="archiveTicket(ticket)"></app-ticket>
  </ng-container>
</div>


